table,th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(207, 234, 243);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Georgia;
    color: rgb(0, 5, 46);
    margin-top: 10px;
    margin-bottom:10px;
}
th, {
    border: 1px solid black;
    background-color: lightblue;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    place-content: center;
    align-items: center;
    margin: 15px;
}
body{
    width:1400px;
    margin:auto;
    background-color:  #e7e5e0;
    font-family: sans-serif;
    color: black;
}

.hero-image {
    vertical-align: top;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgb(0, 5, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
span.caption{
    display: block;
    text-align: center;
}


header {
    background-color: darkgreen;
    width:90%;
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right:auto;
    border: 1px solid rgb(0, 5, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    color: white;
}
nav h1 {
    font-size: 45px;
    font-family: 'Lobster', cursive;
}
#logo img {
    width: 200px;
    height:50px;
    
}
#navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: left;
    place-content: space-between;
    align-items: center;
    padding:10px;
    margin: 30px;
}

#banners {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin: 15px;
    border: 25px, solid,black;

    

}
article {
    width: 300px;
    height: 375px;
    background-color: rgb(207, 234, 243);
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    border: 10px solid rgb(0, 5, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 




.scroll {
    margin:15px;
    padding: 4px;
    width: 300px;
    height: 370px;
    font-size: 20px;
    line-height: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    background-color: rgb(207, 234, 243);
    border: 10px solid rgb(0, 5, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    margin: 15px;
    width: 300px;
    height: 375px;
    border: 10px solid rgb(0, 5, 46);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(207, 234, 243);
   
}
/* ----- end of container stylings ----- */

/* provides padding to main heading */
.main-heading {
    padding: 2rem 0 2rem 0;
}

.content {
    position: relative;
}

/* ----- carousel content stylings ----- */
/* places the carousel content on center of the carousel */
.carousel-content {
    position:relative;
    /*to center the content horizontally and vertically*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    align-content: space-between;
    z-index: 50;
    border: 25px, solid,black;
}
.carousel-heading {
    font-size: 20px;
    color: black;
    background-color: rgb(207, 234, 243);
    text-align: center;
    padding: 5px;
    margin-bottom: 1rem;
}
/*----- end of carousel content stylings ----- */

/* ----- slideshow stylings ----- */
.slideshow {
    height: 100%;
    overflow: hidden; /* to hide slides in x-direction */
    position: relative;
}
/* wrapper which wraps all the slideshow images stylings */
.slideshow-wrapper {
    display: flex;
    /* We give it width as 400% because we are making a 
       4 image carousel. If you want to make for example, 
       5 images carousel, then give width as 500%. */
    width: 400%;
    height: 100%;
    position: relative;
    /* you can change the animation settings from below */
    animation: slideshow 8s infinite;
 }
/* define width and height for images*/
.slide {
    width: 100%;
    height: 100%;
}
.slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/* @keyframes are used to provide animations
   We make these settings for 4 image carousel.
   Make modification according to your needs. */
@keyframes slideshow {
    0%  { left: 0; }
    10% { left: 0; }
    30% { left: -100%; }
    40% { left: -100%; }
    50% { left: -200%; }
    60% { left: -200%; }
    70% { left: -100%; }
    80% { left: -100%; }
    90% { left: 0%; }
    100% { left: 0%; }
}
/* ----- end of slideshow stylings ----- */

/* ----- carousel control buttons stylings ----- */
.slide-button {
    background-color: #bbb;
    border-radius: 30%;
    border: .2rem solid #d38800;
    width: 1.2rem;
    height: 1.2rem;
    outline: none;
    cursor: pointer;
    /* stylings for positioning the buttons at
       the bottom of the carousel */
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 70;
}
/* As we provide position as absolute, 
the buttons places one over the other. 
So, we have to place them individually
at their correct positions. */
.slide-button-1 {
    left: 35%;
}
.slide-button-2 {
    left: 45%;
}
.slide-button-3 {
    left: 55%;
}
.slide-button-4 {
    left: 65%;
}

/* When we focus on the particular button, 
the animation stops to that particular image 
to which the button is associated. */
.slide-button-1:focus~.slideshow-wrapper {
    animation: none;
    left: 0;
}
.slide-button-2:focus~.slideshow-wrapper {
    animation: none;
    left: -100%;
}
.slide-button-3:focus~.slideshow-wrapper {
    animation: none;
    left: -200%;
}
.slide-button-4:focus~.slideshow-wrapper {
    animation: none;
    left: -300%;
}

/* when we focus on the button, the background color changes */
.slide-button:focus {
    background-color: darkgrey;}

fieldset{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content:flex-start;
    align-items: center;
    background-color: lightblue;
    height:200px;
}
hr{
    width:60%
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: darkgreen;
  }
  footer img{
    width:100px;
    margin: 20px;
  }
  form{

    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:10px;
  }